* {
    padding: 0;
    padding: 0;
    box-sizing: border-box;
}

header, footer {
    background-color: lightblue;
    color: white;
    padding: 2rem;
}
table, tbody, thead{
    border: solid 2px lightgreen;
    border-collapse: collapse;
    margin: 0 auto;
}
th, td{
    padding: 2rem 1.3rem;
    border: solid 2px lightgreen;
}

form {
    text-align: center;
    border: 0.5rem solid cadetblue;
    padding: 1rem;
    font-weight: 700;
}